{% extends "base.html" %} {% block daniela %}
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Listagem</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Sexo</th>
                                <th>Data de Nascimento</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{{cliente.name}}</td>
                                <td>{{cliente.birth_date}}</td>
                                <td>{{cliente.cpf}}</td>
                                <td>{{cliente.sexo}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" href="/atendimento/cliente/">Detalhes</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" href="/atendimento/cliente/">Excluir</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}